/* Body */
body {
  background-color: #f6f6f6;
}

/* Flex Container */
#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Calc Body */
#calc-body {
  background-color: #aaaaaa;
  height: 500px;
  width: 300px;
  border-radius: 15px;
  border: solid 2px;
}

#first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

/* Display */
#display {
  height: 60px;
  width: 275px;
  background-color: #eeeeee;
  border-radius: 5px;
  border: solid 1.5px;
}
/*  */
/* Buttons */
/*  */

/* Clear Button */
#clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 125px;
  background-color: #ffaaaa;
  border-radius: 5px;
  border: solid 1.5px;
}

/* Clear Button */
#delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 125px;
  background-color: #aaaaff;
  border-radius: 5px;
  border: solid 1.5px;
}

/* Logic Buttons */
.logic-btn {
  height: 25px;
  width: 25px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: solid 1.5px;
}
