/* Body */
body {
  background-color: rgb(230, 230, 230);
}

/* Flex Container */
#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Calc Body */
#calc-body {
  background-color: rgb(105, 99, 99);
  height: 500px;
  width: 300px;
  border-radius: 50px;
}
