/* Body */
body {
  background-color: #f6f6f6;
}

/* Flex Container */
#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Calc Body */
#calc-body {
  background-color: #aaaaaa;
  height: 530px;
  width: 300px;
  border-radius: 10px;
  border: solid 3px;
}

/* Display Row */
#first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

/* Display */
#display {
  height: 90px;
  width: 275px;
  background-color: #eeeeee;
  border-radius: 5px;
  border: solid 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.prev-operand {
  font-size: 15px;
  margin-right: 5px;
  color: rgb(114, 114, 114);
}

#curr-operand {
  font-size: 30px;
  margin-right: 10px;
}

.curr-operand {
  font-size: 30px;
  margin-right: 10px;
}

/*         */
/* Buttons  */
/*        */

/* Clear/Delete Row */
#clear-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  height: 90px;
}

/* Clear Button */
#clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 125px;
  background-color: #ffaaaa;
  border-radius: 5px;
  border: solid 1.5px;
}

#clear-btn:hover {
  cursor: pointer;
  background-color: #ef9f9f;
}

#clear-btn:active {
  background-color: #e59898;
}

/* Clear Button */
#delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 125px;
  background-color: #aaaaff;
  border-radius: 5px;
  border: solid 1.5px;
  color: black;
}

#delete-btn:hover {
  cursor: pointer;
  background-color: #a2a2f3;
}

#delete-btn:active {
  background-color: #8f8fd7;
}

/* Logic Rows */
.logic-rows {
  display: flex;
  height: 78px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Logic Buttons */
.logic-btn {
  height: 60px;
  width: 60px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: solid 1.5px;
  color: black;
}

.logic-btn:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.logic-btn:active {
  cursor: pointer;
  background-color: #cccccc;
}

/* Exit buttons */
.logic-exit {
  height: 60px;
  width: 60px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: solid 1.5px;
  color: black;
}

.logic-exit:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.logic-exit:active {
  cursor: pointer;
  background-color: #cccccc;
}

/* Equal btn */
.logic-equal {
  height: 60px;
  width: 60px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: solid 1.5px;
  color: black;
}

.logic-equal:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.logic-equal:active {
  cursor: pointer;
  background-color: #cccccc;
}

/* Decimal btn */
.logic-decimal {
  height: 60px;
  width: 60px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: solid 1.5px;
  color: black;
}

.logic-decimal:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.logic-decimal:active {
  cursor: pointer;
  background-color: #cccccc;
}
